body {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
}

.card {
  background: #f0f4f8;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#skills {
  background: #e0e7ff; /* light blue (you can keep this) */
  padding: 20px;
}

#certifications {
  background: #f3f4f6; /* light gray, or change as you wish */
  padding: 20px;
}

#certifications .card {
  background: #dbdde0;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

#projects .card {
  background: #d1d5db;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#educations .card {
  width: 100%;
  min-width: 250px;
}

@media (max-width: 768px) {
  #educations .card {
    width: 100%;
  }
  #certifications .card {
    width: 100%;
  }
  #projects .card {
    flex-direction: column;
  }
  #projects .card img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

#home img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  #home {
    text-align: center;
  }
}

/* certificates hoover zoom */
.certificate-img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.certificate-img:hover {
  transform: scale(1.05);
}

/* Modal styling */
.modal {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

h2 {
  position: relative;
  display: block; /* full width */
  padding-bottom: 12px;
  text-align: center; /* center the text */
  font-weight: bold;
  margin: 0 auto 1rem auto;
}

h2::after {
  content: "";
  display: block;
  margin: 0 auto; /* centers the underline */
  width: 250px; /* wider underline */
  height: 6px; /* thicker underline */
  background-color: #3b82f6;
  border-radius: 4px;
  margin-top: 6px; /* spacing between text and underline */
}

.nav-link.active {
  border-bottom: 2px solid #3b82f6; /* blue underline */
  color: #3b82f6;
  font-weight: 600;
}
